body {
    background-image: url("../images/Thought_Jar.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}